* {

    padding: 0;
    margin: 0;
}

body {

    padding: 100px;
}
.submit-area {

    padding: 40px;
    box-shadow: 3px 3px 10px #9b9b9b;
    border-radius: 15px;
    
}
#transaction-area {

    display: none;
}
.deposit {
    background-color: slateblue;
}
.withdrow {

    background-color: lightsalmon;
}
.blance {
    background-color: orange;
}
.status {

    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.orange-color {

    color: orange;
    border-bottom: 2px solid orange;
}